@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
* {margin: 0; padding: 0;}

h1, h2, h3, h4, h5, h6 {font-family: Ubuntu, sans-serif;}
h1, h2, h3, h4, h5, h6, p, a, span {filter: blur(0.3px);}
#logo {
    width: 152px;
    height: 64px;
}

/* Override  */

    .carousel.carouselHowitwork {
        min-height: 770px;
    }

    .carousel.carouselHappyCustomers .carousel-inner {
        overflow: initial;
    }

    .Ubuntu {
        font-family: 'Ubuntu', sans-serif;
    }

    .Montserrat {
        font-family: 'Montserrat', sans-serif;
    }

    .grey-light-text {
        color: #808080;
        font-size: 14px;
    }

    .w-400 {
        font-weight: 400;
    }

    .w-500 {
        font-weight: 500;
    }

    .w-600 {
        font-weight: 600;
    }

    .w-700 {
        font-weight: 700;
    }

    .w-800 {
        font-weight: 800;
    }

    .w-900 {
        font-weight: 900;
    }

/* RECRUTEUR: Page  */
    .why {color: #fff; background: #155E6D;}  
    .why .item { height: 500px; display: table-cell; vertical-align: middle; font-size: 2em; }  

/* Globale  */


/* Colors  */

.border-offers {
    border-right: 1px #e4e4e4 solid;
    border-radius: 6px;
    padding: 25px;
}

.blog-btn {
    color: #F6887B;
    border-color: #F6887B;
}

.blog-btn:hover {
    color: #ffffff;
    border-color: #F6887B;
    background-color: #F6887B;
}

.nav-tabs {
    border: none;
}

.btn-green {
    background: #00A5A3;
    border: #00A5A3;
}

.btn-green:hover,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background: #00A5A3;
    border: #00A5A3;
}

.btn-white {
    background: #ffffff;
    border-radius: 25px;
    color: #022553;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.44);
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    width: 10%;
    background: #00A5A3;
    color: white;
    border: 0;
    -webkit-appearance: none;
    border-radius: 1px 25px 25px 0px;
    position: absolute;
    width: 70px;
}

.rounded-input {
    border-radius: 25px;
    border: 1px solid #ebebeb;
}

.border-rad {
    border-radius: 25px;
}

.btn-green:hover {
    background: #10bdba;
    border: #10bdba;
}

.btn-orange {
    background: #F6887B;
    border: #F6887B;
}

.btn-orange:hover {
    background: #fc9d92;
    border: #fc9d92;
}

.btn-blue {
    background: #3496AA;
    border: #3496AA;
}

.btn-blue:hover {
    background: #4bacc0;
    border: #4bacc0;
}

.color-green {
    color: #00A5A3;
}
.color-greenrecrut{
    color: #166C7E;
}
.color-orange {
    color: #F17B6D;
}

.dark-blue {
    color: #022553;
}

.black {
    color: #000
}

.dark-grey {
    color: #525252;
}
.about-btn{
    height: 40px;
    width: 140px;
}
figure {
    margin: 0!important;
}

.navbar-style {
    box-shadow: 0 4px 2px -2px #80808029;
}

.icon-bar {
    background: #33D8C6;
}

.ubuntu {
    font-family: ubuntu;
    font-weight: 500;
}

.space {
    justify-content: space-between;
}

.quick-blue-color {
    color: #ffffff;
    background-color: #33D8C6;
}

.slideshow h1 {
    color: #022553;
    font-size: 4.5rem;
}

.slide-btn {
    height: 50px;
}

.full-btn {
    background-color: #ddeeec!important;
    color: #00A5A3!important;
    border: none!important;
}

.slideshow p {
    color: #646464;
    font-size: 1.1rem;
}

.slideshow {
    font-family: ubuntu;
    font-size: 800;
    margin-bottom: 100px;
}

.slideshow h1 > span {font-size: 1.1em;}

.philosophy {
    background: #0eb7b5;
}

.philosophy .btn-green {
    background-color: #193849;
}

.philosophy .btn-green:hover {
    background-color: #284a5d;
}

.phil-content {
    < font-family: ubuntu;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
}

.phil-content h2:after {
    content: "";
    display: block;
    width: 100px;
    background-color: #33D8C6;
    height: 4px;
    margin-top: 15px;
}

.about-orange {
    color: #F17B6D;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.play-apple a {
    color: #fff;
}

.bande {
    width: 100px;
    background-color: #33D8C6;
    height: 4px;
}

.phil-text {
    font-family: Montserrat;
    font-weight: 500;
    line-height: 2rem;
}

.talents {
    font-family: ubuntu;
    color: #fff;
    background: tomato;
    background: url(../img/talents-bg.jpg) no-repeat;
    background-size: cover;
}

.recruteurs {
    font-family: ubuntu;
    color: #fff;
    background: #166C7D;
    background: url(../img/recruteurs-bg.jpg) no-repeat;
    background-size: cover;
}

.talent-btn {
    width: 135px;
    background: lightsalmon!important;
    border: none!important;
    height: 50px;
}

.img-talents {
    top: 15px;
}

.img-recruteurs {
    top: 31px;
}

.carousel-content-text {
    position: absolute;
    top: 40%;
    bottom: 60%;
    left: -150px;
    ;
    margin: auto;
}

.next-car {
    right: -150px;
}

.next-car-icon {
    height: 100%;
    width: -webkit-fill-available;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.prev-car {
    left: -150px;
}

.prev-car-icon {
    height: 100%;
    width: -webkit-fill-available;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.video-content {
    background: url('../img/video_cover.jpg') no-repeat center;
    background-size: contain;
    height: 450px;
}

.video-content .btn {
    color: #fff;
    border: 1px solid #fff;
    font-size: 25px;
}

.customers .customer {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 7%);
    border: 1px solid #efefef;
    border-radius: 10px;
}

.comment {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.form-height {
    height: 46px;
}

.newsletter-btn {
    margin-left: -145px;
}


/* Footer  */

.footer {
    background-color: #F0F9F8;
    font-family: 'Montserrat', sans-serif;
}

.footer p {
    font-size: 12px;
    font-weight: 500;
    color: #8e8e8e;
    line-height: 1.7rem;
}

.title {
    border-bottom: 1px solid #efefef;
    padding-bottom: 18px;
}

.li-title {
    font-size: 13px;
    font-weight: 500;
    color: #303030;
    line-height: 1.7rem;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    color: #8e8e8e;
    line-height: 1.7rem;
}

.footer .copyright {
    background-color: #20B9AA;
    color: #fff;
}

.border-rad {
    border-radius: 25px!important;
}


/* Animation  */

.main-animation {
    min-height: 480px;
    /*width:480px;
  height:480px;*/
    /*border:1px solid #CCC;*/
    margin: auto;
    border-radius: 50%;
}

.main-animation img {
    margin: 30px 0 0 10px;
    /*
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    */
}


.more-simple {
    display: block; /* Important to give the content a width */
  
    width: 100%;
    transform: translateX(100%); /* Animation start out of the screen */
  
    /* Add the animation */
    animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
  }
  
  /* Create the animation */
  @keyframes move {
    to { transform: translateX(-100%); }
  }




  
  .marquee  {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 12s linear infinite;
  }
  
  .marquee  {
    animation-delay: 2.5s;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }




.QHAnimation {
    height: 723px;
    width: 719px;
    margin: auto;
}

.circle {
    width: 60px;
    height: 60px;
    /*background:cyan;*/
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    color: red;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle.large {
    width: 150px;
    height: 150px;
}

.circle.c-1 {
    background-image: url('../img/animation/icon_1.png');
    animation: circle 40s linear infinite;
}

.circle.c-2 {
    background-image: url('../img/animation/icon_2.png');
    animation: circle2 40s linear infinite;
}

.circle.c-3 {
    background-image: url('../img/animation/icon_3.png');
    animation: circle3 40s linear infinite;
}

.circle.c-4 {
    background-image: url('../img/animation/icon_4.png');
    animation: circle4 40s linear infinite;
}

.circle.c-5 {
    background-image: url('../img/animation/icon_5.png');
    animation: circle5 60s linear infinite;
}

.circle.c-6 {
    background-image: url('../img/animation/icon_6.png');
    animation: circle6 60s linear infinite;
}


/* Animation  */

@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-240px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-240px) rotate(-360deg);
    }
}

@keyframes circle2 {
    0% {
        transform: rotate(0deg) translate(240px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(240px) rotate(-360deg);
    }
}

@keyframes circle3 {
    0% {
        transform: rotate(-90deg) translate(-240px) rotate(90deg);
    }
    100% {
        transform: rotate(270deg) translate(-240px) rotate(-270deg);
    }
}

@keyframes circle4 {
    0% {
        transform: rotate(-270deg) translate(-240px) rotate(270deg);
    }
    100% {
        transform: rotate(90deg) translate(-240px) rotate(-90deg);
    }
}

@keyframes circle5 {
    0% {
        transform: rotate(0deg) translate(320px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(320px) rotate(-360deg);
    }
}

@keyframes circle6 {
    0% {
        transform: rotate(-270deg) translate(-320px) rotate(270deg);
    }
    100% {
        transform: rotate(90deg) translate(-320px) rotate(-90deg);
    }
}

@media (max-width: 1280px) {
    .QHAnimation {
        width: 575px;
        height: 575px
    }
    .main-animation img {
        margin: 20px 0 0 5px;
    }
    @keyframes circle {
        0% {
            transform: rotate(0deg) translate(-190px) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translate(-190px) rotate(-360deg);
        }
    }
    @keyframes circle2 {
        0% {
            transform: rotate(0deg) translate(190px) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translate(190px) rotate(-360deg);
        }
    }
    @keyframes circle3 {
        0% {
            transform: rotate(-90deg) translate(-190px) rotate(90deg);
        }
        100% {
            transform: rotate(270deg) translate(-190px) rotate(-270deg);
        }
    }
    @keyframes circle4 {
        0% {
            transform: rotate(-270deg) translate(-190px) rotate(270deg);
        }
        100% {
            transform: rotate(90deg) translate(-190px) rotate(-90deg);
        }
    }
    @keyframes circle5 {
        0% {
            transform: rotate(0deg) translate(260px) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translate(260px) rotate(-360deg);
        }
    }
    @keyframes circle6 {
        0% {
            transform: rotate(-270deg) translate(-260px) rotate(270deg);
        }
        100% {
            transform: rotate(90deg) translate(-260px) rotate(-90deg);
        }
    }
}

@media (max-width: 460px) {
    .QHAnimation {
        width: 320px;
        height: 320px;
        margin: 0;
    }
    .main-animation img {
        margin: 20px 0 0 5px;
    }
    @keyframes circle {
        0% {
            transform: rotate(0deg) translate(-140px) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translate(-140px) rotate(-360deg);
        }
    }
    @keyframes circle2 {
        0% {
            transform: rotate(0deg) translate(140px) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translate(140px) rotate(-360deg);
        }
    }
    @keyframes circle3 {
        0% {
            transform: rotate(-90deg) translate(-140px) rotate(90deg);
        }
        100% {
            transform: rotate(270deg) translate(-140px) rotate(-270deg);
        }
    }
    @keyframes circle4 {
        0% {
            transform: rotate(-270deg) translate(-140px) rotate(270deg);
        }
        100% {
            transform: rotate(90deg) translate(-140px) rotate(-90deg);
        }
    }
    .c-5,
    .c-6 {
        display: none;
    }
}

@media (max-width: 380px) {
    .QHAnimation {
        width: 300px;
        height: 300px;
        margin: 0;
    }
    .main-animation img {
        margin: 20px 0 0 5px;
    }
    @keyframes circle {
        0% {
            transform: rotate(0deg) translate(-120px) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translate(-120px) rotate(-360deg);
        }
    }
    @keyframes circle2 {
        0% {
            transform: rotate(0deg) translate(120px) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translate(120px) rotate(-360deg);
        }
    }
    @keyframes circle3 {
        0% {
            transform: rotate(-90deg) translate(-120px) rotate(90deg);
        }
        100% {
            transform: rotate(270deg) translate(-120px) rotate(-270deg);
        }
    }
    @keyframes circle4 {
        0% {
            transform: rotate(-270deg) translate(-120px) rotate(270deg);
        }
        100% {
            transform: rotate(90deg) translate(-120px) rotate(-90deg);
        }
    }
}

@media (max-width: 640px) {
    .r-title .sub-title {font-size: 0.5em;}
    .r-title .main-title,
    .slideshow h1 > span {font-size: 1em;}
    .why .item {transform: translate(0)!important; height: 400px;}

    .phil-content h2:after {
        margin: 15px auto;
    }
    .form-height {
        min-width: 360px;
    }
    .newsletter-btn {
        margin: 0;
    }
    .why,
    .customers,
    .tab-content,
    .footer {
        text-align: center;
    }
}

@media (max-width: 460px) {
    .form-height {
        min-width: auto;
    }
    .prev-car {
        left: 0;
    }
    .next-car {
        right: 0;
    }
    .carousel-content-text {
        position: static;
    }
    .cta>form {
        min-width: 250px;
    }
}


@media (max-width: 768px) {
    .carouselHowitwork{transform: scale(0.7);}
}

